<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @config[:title] %></title>
  <link rel="icon" type="image/png" href="<%= "/#{@config[:scope]}/images/logo.png" %>"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag @config[:scope], media: "all", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag @config[:scope], 'data-turbolinks-track': 'reload' %>
  <style>


  </style>
</head>

<body class="c-app controller-<%= controller_name %> action-<%= action_name %>" data-controller-name="<%= controller_name %>" data-action-name="<%= action_name %>" data-resource-id="<%= @resource.id rescue nil %>">
<%= render "layouts/#{@config[:scope]}/global" rescue nil %>

<% if devise_controller? %>
  <%= yield %>
<% else %>
  <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show <%= cookies[:sidebar] == '1' ? '' : 'c-sidebar-unfoldable' %>" id="sidebar">
    <%= render 'layouts/manage/sidebar' %>
  </div>

  <div class="c-wrapper">

    <%= render 'layouts/manage/header' %>

    <div class="c-body">
      <main class="c-main pt-4 px-4">
          <%= yield %>
      </main>
    </div>

    <%= yield :footer if content_for?(:footer) %>
  </div>
<% end %>

<%= render 'layouts/manage/modal', modal_id: 'image-preview-modal', title: (t 'manage.image_preview'), size: 'lg' do %>
  <%= tag.div class: 'modal-body' do %>
    <img src="" width="100%"/>
  <% end %>
  <%= tag.div class: 'modal-footer' do %>
    <%= button_tag (t 'manage.close'), class: "btn btn-secondary", type: "button", "data-bs-dismiss": "modal" %>
  <% end %>
<% end %>

<% if flash[:success] %>
  <script>
      toastr.success("<%= flash[:success] %>", 'Success!', {
          "timeOut": "1000",
      })
  </script>
  <% flash[:success] = nil %>
<% end %>


</body>
</html>
